/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 150px;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 12px;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;  /* 增加元素之间的间距 */
}

label {
  font-weight: bold;
  font-size: 0.9em;
  white-space: nowrap;
}

input[type="text"] {
  flex-grow: 1;  /* 让输入框尽量扩展 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 8px 12px;
  background-color: #4CAF50;  /* 绿色按钮 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;  /* 按钮的悬停效果 */
}

#status {
  color: green;
  font-size: 0.9em;
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.1);
}

.divider {
  margin: 5px auto 5px;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}

.apiKeyUrl{
  margin-left: 5px;
}

#status {
  height: 10px;
  color: green;
  font-size: 0.9em;
}
